# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Dip Chowdhury	
email = dipchry@gmail.com
	signingkey = /Users/dipc/.ssh/id_ed25519
[core]
	editor = nano
[gpg]
	format = ssh
[commit]
	gpgsign = true
[alias]
	acp = "!f() { git add .; git commit -m \"$1\"; git push; }; f"
